<app-navbar-page></app-navbar-page>
<div class="container mt-5 text-center pb-5">
  <h1>Listado de personas</h1>
    <div class="demo-button-container d-flex justify-content-end mb-3">
      <button mat-raised-button routerLink="/personas/add-persona" class="demo-button">
        Agregar Persona
      </button>
    </div>
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar persona" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Columna nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <!-- Columna Apellido -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
          </ng-container>

          <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rut </th>
            <td mat-cell *matCellDef="let row"> {{row.rut | rutFormat}} </td>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
            <td mat-cell *matCellDef="let row"> {{row.sexo | sexoTransform}} </td>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
            <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
          </ng-container>

          <ng-container matColumnDef="fec_nacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
            <td mat-cell *matCellDef="let row"> {{row.fec_nacimiento | date:'dd/M/yy' }} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="['/personas/update-persona', row.id_persona]">
                <mat-icon  aria-hidden="false" aria-label="Edit icon" fontIcon="edit" color="primary"> </mat-icon>
              </a>

              <mat-icon mat-raised-button (click)="openDialog(row)" aria-hidden="false" aria-label="Delete icon" fontIcon="delete" color="warn"> </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron registros con: "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>


